<form action="/todos/{{{todo.id}}}/delete?_method=DELETE" method="post" style="display:inline">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="done" {{#if todo.done }} checked{{/if}} disabled />
      </div>
    </div>
    <input type="text" placeholder="name" name="name" value="{{{todo.name}}}" class="form-control" disabled>
    <div class="input-group-append">
      <a href="/todos/{{{todo.id}}}/edit" class="btn btn-success">edit</a>
      <button type="submit" class="btn btn-danger">delete</button>
    </div>
  </div>
</form>