<a href="/todos/new">Create</a>

<ul>
  {{#each todos}}
  <li>
    {{{this.name}}}
    <a href="/todos/{{{this.id}}}">detail</a>
    <a href="/todos/{{{this.id}}}/edit">edit</a>
    <button type="submit">delete</button>
  </li>
  {{/each}}
</ul>